.sidebar {
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
}

.sidebar.expanded {
  width: 220px;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-divider {
  margin: 0 15px 0;
}


.toggle-btn {
  display: flex;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  gap: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.2rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: #2a2a40;
}

.icon {
  font-size: 1.4rem;
  min-width: 30px;
}

.text {
  margin-left: 10px;
  white-space: nowrap;
}
